* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Roboto", sans-serif;
    color:black;
}

.container{
    display: flex;
    height: 100vw;
    background-color: rgb(254, 255, 254);
}

.inputs {
    width: 25vw;
    height: 100%;
    align-items: center;
    padding: 1vw;
    justify-content: space-around;
    background-color: rgb(41, 63, 105);
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
}


.button{
    display: flexbox;
    color:black;
    background-color: rgb(158, 172, 170);
    background-position: left;
    grid-template-columns: 5vw;
}